<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DataViewPage.aspx.cs" Inherits="DataViewPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="Label1" runat="server" Height="27px" Text="nameData" Width="430px"></asp:Label>
        <hr />
        <asp:GridView ID="GridView1" runat="server" Height="179px" Width="402px">
        </asp:GridView>
    
    </div>
    </form>
</body>
</html>
